body
{	font-family: Verdana;
	overflow: hidden;
}
#wrapper{
	display: none;
}
#load {
	width: 500px;
	height: 0px;
	overflow: hidden;
}
#load img{
	
	width: 500px;
	height: 500px;
}
#sketchlogo{
	position: absolute;
}
#container
{
	background-color: white;
top: 170.625px;
position: absolute;
width: 1200px;
height: 420px;
overflow: hidden;
}
.page
{

position: absolute;
width: 1200px;
height: 420px;
}
#header
{
	margin-left: -10px;
	margin-top: -10px;
height: 131.25px;
width: 100%;
background-color: #414746;
position: relative;
}
#menu
{
	margin-left: -0.8%;
	background-color: #414746;
}
#menu span
{	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-family: Verdana;
	color: white;
	height: 39.375px;
	text-align: center;
}
#footer
{
	margin-left: -10px;
position:absolute;
bottom: 0; 
background-color:#414746;
width: 100%;
font-size: 15px;
font-family: calibri;
color:  #a2a2a2;
padding-left: 10px;
}
#header img
{
position: absolute;
bottom: 20px;
}
#header span
{
color: white;
float: right;
font-size: 60%;
margin-top: 5px;
font-family: Verdana;
cursor: pointer;;
}
#social
{
	position: absolute;
	top: 10px;
	right: 20px;
}
#social img
{
padding-right: 5px;
width:35px;
height: 35px;
}
#details_tfbn{
	font-family: Verdana;
	position: relative;
	left:0%;
	z-index: 90;
	color:white;
	display: none;
}