#CmagazinePhoto
{
background-size: cover;
width: 308.104px;
height :390px;
position: absolute;
margin-left: 30px;
margin-top: 10px;
background-color: white;
}
#magazineInfo
{
margin-left: 420px;
position: absolute;
margin-top: 10px;
width: 500px;
height :400px;

}
#magazineSlider
{
overflow: hidden;
margin-left: 980px;
position: absolute;
margin-top: 20px;
height: 400px;
width: 200px;


}
.magazineThumbnail
{
background-size: contain;
margin-left: 30px;
position: absolute;
width: 139px;
height: 180px;
background-color: black;
}
.magazineHead , .magazineText 
{
	display: none;
}
